# ETL con Pandas - Market Data

## Importamos las librerías necesarias

In [1]:
import pandas as pd
import re

print("✅ Librerías importadas")

✅ Librerías importadas

## EXTRACT: Cargar los datos

In [2]:
df_raw = pd.read_csv("../data/market_data.csv")

print(f"✅ Dataset cargado")
print(f"Filas: {df_raw.shape[0]}")
print(f"Columnas: {df_raw.shape[1]}")
print(f"\nColumnas: {list(df_raw.columns)}")
df_raw.head(10)

✅ Dataset cargado
Filas: 10000
Columnas: 15

Columnas: ['market_type', 'symbol', 'name', 'date', 'open', 'close', 'high', 'low', 'volume', 'market_cap', 'sector', 'exchange', 'country', 'currency', 'last_updated']

,market_type,symbol,name,date,open,close,high,low,volume,market_cap,sector,exchange,country,currency,last_updated
0,stock,MSFT,MSFT Inc,08-03-2024,47536.20817743171,49741.830640,51230.749087,45530.224497,1.560789e+06,1.129875e+12,Finance,NASDAQ,US,usd,2024-08-03 23:00:00
1,stock,GOOGL,GOOGL Inc,2023-06-13,43310.14552728901,44186.006702,45750.351685,41189.214123,9.699129e+06,1.836700e+11,Retail,NASDAQ,Global,USD,2023-06-13 12:00:00
2,crypto,BTC,BTC Coin,13/08/2024,10624.832142807025,9948.720880,10722.264249,9602.625893,5.248040e+06,3.338148e+11,blockchain,COINBASE,US,$,2024-08-13 02:00:00
3,crypto,SOL,SOL Coin,08-15-2024,14568.544718500116,14894.451498,14998.335725,14052.923601,3.664252e+06,1.756183e+11,Crypto,BINANCE,US,USDT,2024-08-15 22:00:00
4,crypto,SOL,SOL Coin,29/03/2024,39260.94631003675,36902.728007,40270.412844,36150.677292,4.654577e+05,1.851476e+11,blockchain,BINANCE,Global,USD,2024-03-29 19:00:00
5,stock,GOOGL,GOOGL Inc,2024-03-13,8534.500943127703,7792.087425,8939.414169,7778.697515,8.084165e+06,1.826559e+12,Technology,NASDAQ,Global,USDT,2024-03-13 00:00:00
6,stock,TSLA,TSLA Inc,2023-10-27,4892.63 USD,5072.905748,5184.548354,4677.851920,4.952274e+06,9.207952e+11,TECHNOLOGY,NASDAQ,Global,$,2023-10-27 05:00:00
7,stock,AMZN,AMZN Inc,08-24-2023,45466.92689991832,43273.420311,46973.069514,41784.189516,5.201160e+06,1.128217e+11,Artificial Intelligence,NYSE,US,$,2023-08-24 16:00:00
8,stock,AMZN,AMZN Inc,07-22-2023,9250.874231721096,10119.687898,10511.893011,9222.889848,8.948379e+06,1.644664e+12,tech,Unknown,Global,usd,2023-07-22 22:00:00
9,stock,MSFT,MSFT Inc,2023-04-25,46094.49300880561,42300.847111,46546.179543,40281.462387,3.253978e+06,1.797721e+12,finance,NYSE,Global,USDT,2023-04-25 08:00:00

## EXPLORACIÓN: Análisis del dataset

In [4]:
print("=== INFORMACIÓN GENERAL ===\n")
print(f"Dimensiones: {df_raw.shape[0]} filas × {df_raw.shape[1]} columnas")
print(f"\nTipos de datos:")
print(df_raw.dtypes)

=== INFORMACIÓN GENERAL ===

Dimensiones: 10000 filas × 15 columnas

Tipos de datos:
market_type      object
symbol           object
name             object
date             object
open             object
close           float64
high            float64
low             float64
volume          float64
market_cap      float64
sector           object
exchange         object
country          object
currency         object
last_updated     object
dtype: object

In [5]:
print("=== VALORES NULOS ===\n")
print(df_raw.isnull().sum())
print(f"\nTotal nulos: {df_raw.isnull().sum().sum()}")

=== VALORES NULOS ===

market_type       0
symbol          213
name              0
date              0
open              0
close             0
high              0
low               0
volume            0
market_cap        0
sector            0
exchange        361
country           0
currency          0
last_updated      0
dtype: int64

Total nulos: 574

In [6]:
print("=== DUPLICADOS ===\n")
print(f"Filas duplicadas: {df_raw.duplicated().sum()}")

=== DUPLICADOS ===

Filas duplicadas: 0

In [7]:
print("=== VALORES ÚNICOS POR COLUMNA ===\n")
for col in df_raw.columns:
    print(f"{col}: {df_raw[col].nunique()}")

=== VALORES ÚNICOS POR COLUMNA ===

market_type: 2
symbol: 10
name: 10
date: 1798
open: 10000
close: 10000
high: 10000
low: 10000
volume: 10000
market_cap: 10000
sector: 16
exchange: 5
country: 2
currency: 4
last_updated: 7259

In [8]:
print("=== VALORES ÚNICOS EN COLUMNAS CATEGÓRICAS ===\n")

print("CURRENCY:")
print(df_raw['currency'].unique())

print("\nSECTOR:")
print(df_raw['sector'].unique())

print("\nMARKET_TYPE:")
print(df_raw['market_type'].unique())

print("\nEXCHANGE:")
print(df_raw['exchange'].unique())

print("\nCOUNTRY:")
print(df_raw['country'].unique())

print("\nNAME:")
print(df_raw['name'].unique())

print("\nSYMBOL:")
print(df_raw['symbol'].unique())

=== VALORES ÚNICOS EN COLUMNAS CATEGÓRICAS ===

CURRENCY:
['usd' 'USD' '$' 'USDT']

SECTOR:
['Finance' 'Retail' 'blockchain' 'Crypto' 'Technology' 'TECHNOLOGY'
 'Artificial Intelligence' 'tech' 'finance' 'AI' 'RETAIL' 'Automotive'
 'ai' 'Blockchain' 'crypto' 'automotive']

MARKET_TYPE:
['stock' 'crypto']

EXCHANGE:
['NASDAQ' 'COINBASE' 'BINANCE' 'NYSE' 'Unknown' nan]

COUNTRY:
['US' 'Global']

NAME:
['MSFT Inc' 'GOOGL Inc' 'BTC Coin' 'SOL Coin' 'TSLA Inc' 'AMZN Inc'
 'AAPL Inc' 'ADA Coin' 'BNB Coin' 'ETH Coin']

SYMBOL:
['MSFT' 'GOOGL' 'BTC' 'SOL' 'TSLA' 'AMZN' 'AAPL' nan 'ADA' 'BNB' 'ETH']

In [9]:
print("=== FORMATOS DE FECHA ===\n")
print("Ejemplos de 'date':")
print(df_raw['date'].head(20).values)

=== FORMATOS DE FECHA ===

Ejemplos de 'date':
['08-03-2024' '2023-06-13' '13/08/2024' '08-15-2024' '29/03/2024'
 '2024-03-13' '2023-10-27' '08-24-2023' '07-22-2023' '2023-04-25'
 '2024-06-25' '22/05/2024' '03/04/2024' '2024-05-08' '2024-04-04'
 '01-24-2023' '2023-12-01' '2023-07-17' '2023-11-28' '02/03/2023']

In [10]:
print("=== VALORES PROBLEMÁTICOS ===\n")

valores_problematicos = ['?', 'N/A', 'n/a', 'NULL', 'null', 'Unknown', 'unknown', '', ' ', '-']

for col in df_raw.columns:
    count = df_raw[col].isin(valores_problematicos).sum()
    if count > 0:
        print(f"{col}: {count} valores problemáticos")

=== VALORES PROBLEMÁTICOS ===

exchange: 138 valores problemáticos

In [11]:
print("=== COLUMNAS CON TEXTO DONDE DEBERÍA HABER NÚMEROS ===\n")

cols_numericas = ['open', 'close', 'high', 'low', 'volume', 'market_cap']

for col in cols_numericas:
    if df_raw[col].dtype == 'object':
        con_texto = df_raw[col].astype(str).str.contains('[a-zA-Z]', na=False).sum()
        print(f"{col}: {con_texto} valores con texto")
        if con_texto > 0:
            ejemplos = df_raw[df_raw[col].astype(str).str.contains('[a-zA-Z]', na=False)][col].head(3).values
            print(f"   Ejemplos: {ejemplos}")

=== COLUMNAS CON TEXTO DONDE DEBERÍA HABER NÚMEROS ===

open: 513 valores con texto
   Ejemplos: ['4892.63 USD' '31560.62 USD' '13936.73 USD']

In [12]:
print("=== ESTADÍSTICAS DE COLUMNAS NUMÉRICAS ===\n")
print(df_raw.describe())

=== ESTADÍSTICAS DE COLUMNAS NUMÉRICAS ===

              close          high           low        volume    market_cap
count  10000.000000  10000.000000  10000.000000  1.000000e+04  1.000000e+04
mean   24889.439077  26152.386265  23656.514120  4.987737e+06  8.462211e+11
std    14534.130342  15199.850891  13747.758384  2.900263e+06  8.879377e+11
min       11.024628     11.502512     10.470528  1.307158e+03  5.002187e+09
25%    12363.313886  13017.950818  11772.215507  2.475193e+06  1.787128e+11
50%    24802.449742  26121.306910  23649.724128  5.006258e+06  3.517132e+11
75%    37211.593954  38973.641399  35378.597702  7.509276e+06  1.494859e+12
max    54678.871000  57265.630233  49818.954641  9.998238e+06  2.999616e+12

In [13]:
print("=== RANGO DE FECHAS ===\n")
print(f"Ejemplos last_updated: {df_raw['last_updated'].head(10).values}")

=== RANGO DE FECHAS ===

Ejemplos last_updated: ['2024-08-03 23:00:00' '2023-06-13 12:00:00' '2024-08-13 02:00:00'
 '2024-08-15 22:00:00' '2024-03-29 19:00:00' '2024-03-13 00:00:00'
 '2023-10-27 05:00:00' '2023-08-24 16:00:00' '2023-07-22 22:00:00'
 '2023-04-25 08:00:00']

In [14]:
print("=== ESPACIOS EN BLANCO ===\n")
for col in df_raw.select_dtypes(include=['object']).columns:
    con_espacios = (df_raw[col].astype(str).str.strip() != df_raw[col].astype(str)).sum()
    if con_espacios >= 0:
        print(f"{col}: {con_espacios} valores con espacios")

=== ESPACIOS EN BLANCO ===

market_type: 0 valores con espacios
symbol: 0 valores con espacios
name: 0 valores con espacios
date: 0 valores con espacios
open: 0 valores con espacios
sector: 0 valores con espacios
exchange: 0 valores con espacios
country: 0 valores con espacios
currency: 0 valores con espacios
last_updated: 0 valores con espacios

## TRANSFORM: Limpieza de datos

### Paso 1: Crear copia de trabajo

In [15]:
df_clean = df_raw.copy()
print(f"✅ Copia creada: {len(df_clean)} filas")

✅ Copia creada: 10000 filas

### Paso 2: Limpiar columna 'open' (extraer números)

In [16]:
def extract_number(value):
    if pd.isna(value):
        return pd.NA
    value_str = str(value)
    numbers = re.findall(r'[\d.]+', value_str)
    if numbers:
        return float(numbers[0])
    return pd.NA

df_clean['open'] = df_clean['open'].apply(extract_number)

print(f"✅ 'open' limpiado")
print(f"Tipo: {df_clean['open'].dtype}")
print(f"Nulos: {df_clean['open'].isnull().sum()}")

✅ 'open' limpiado
Tipo: float64
Nulos: 0

### Paso 3: Normalizar columna 'currency'

In [17]:
print("Antes:", df_clean['currency'].unique())

df_clean['currency'] = df_clean['currency'].str.upper().replace({
    '$': 'USD',
    'USDT': 'USD'
})

print("Después:", df_clean['currency'].unique())
print("✅ 'currency' normalizado")

Antes: ['usd' 'USD' '$' 'USDT']
Después: ['USD']
✅ 'currency' normalizado

### Paso 4: Normalizar columna 'sector'

In [18]:
print("Antes:", df_clean['sector'].unique())

sector_map = {
    'finance': 'Finance',
    'Finance': 'Finance',
    'tech': 'Technology',
    'Tech': 'Technology',
    'TECHNOLOGY': 'Technology',
    'Technology': 'Technology',
    'retail': 'Retail',
    'RETAIL': 'Retail',
    'Retail': 'Retail',
    'crypto': 'Crypto',
    'Crypto': 'Crypto',
    'blockchain': 'Crypto',
    'Blockchain': 'Crypto',
    'ai': 'AI',
    'AI': 'AI',
    'Artificial Intelligence': 'AI',
    'automotive': 'Automotive',
    'Automotive': 'Automotive'
}

df_clean['sector'] = df_clean['sector'].replace(sector_map)

print("Después:", df_clean['sector'].unique())
print("✅ 'sector' normalizado")

Antes: ['Finance' 'Retail' 'blockchain' 'Crypto' 'Technology' 'TECHNOLOGY'
 'Artificial Intelligence' 'tech' 'finance' 'AI' 'RETAIL' 'Automotive'
 'ai' 'Blockchain' 'crypto' 'automotive']
Después: ['Finance' 'Retail' 'Crypto' 'Technology' 'AI' 'Automotive']
✅ 'sector' normalizado

### Paso 5: Limpiar columna 'exchange'

In [19]:
print("Antes:", df_clean['exchange'].unique())
print(f"Nulos: {df_clean['exchange'].isnull().sum()}")
print(f"'Unknown': {(df_clean['exchange'] == 'Unknown').sum()}")

# Reemplazar 'Unknown' por NaN, luego rellenar todos los NaN
df_clean['exchange'] = df_clean['exchange'].replace('Unknown', pd.NA)
df_clean['exchange'] = df_clean['exchange'].fillna('exchange_empty')

print("\nDespués:", df_clean['exchange'].unique())
print("✅ 'exchange' limpiado")

Antes: ['NASDAQ' 'COINBASE' 'BINANCE' 'NYSE' 'Unknown' nan]
Nulos: 361
'Unknown': 138

Después: ['NASDAQ' 'COINBASE' 'BINANCE' 'NYSE' 'exchange_empty']
✅ 'exchange' limpiado

### Paso 6: Limpiar columna 'symbol'

In [20]:
print(f"Nulos en 'symbol': {df_clean['symbol'].isnull().sum()}")

# Crear mapeo name → symbol usando filas que sí tienen symbol
name_to_symbol = df_clean[df_clean['symbol'].notna()].drop_duplicates('name').set_index('name')['symbol'].to_dict()

# Rellenar nulos usando el mapeo
df_clean['symbol'] = df_clean.apply(
    lambda row: name_to_symbol.get(row['name'], 'symbol_empty') if pd.isna(row['symbol']) else row['symbol'],
    axis=1
)

print(f"Nulos después: {df_clean['symbol'].isnull().sum()}")
print(f"'symbol_empty' restantes: {(df_clean['symbol'] == 'symbol_empty').sum()}")
print("✅ 'symbol' limpiado")

Nulos en 'symbol': 213
Nulos después: 0
'symbol_empty' restantes: 0
✅ 'symbol' limpiado

### Paso 7: Normalizar columna 'date' (3 formatos distintos)

In [21]:
print("Ejemplos antes:")
print(df_clean['date'].head(10).values)

def parse_date(value):
    if pd.isna(value):
        return pd.NA
    
    value_str = str(value).strip()
    
    # Formato YYYY-MM-DD (2023-06-13)
    if re.match(r'^\d{4}-\d{2}-\d{2}$', value_str):
        return pd.to_datetime(value_str, format='%Y-%m-%d').date()
    
    # Formato DD/MM/YYYY (13/08/2024)
    if re.match(r'^\d{2}/\d{2}/\d{4}$', value_str):
        return pd.to_datetime(value_str, format='%d/%m/%Y').date()
    
    # Formato MM-DD-YYYY (08-03-2024)
    if re.match(r'^\d{2}-\d{2}-\d{4}$', value_str):
        return pd.to_datetime(value_str, format='%m-%d-%Y').date()
    
    return pd.NA

df_clean['date'] = df_clean['date'].apply(parse_date)

print("\nEjemplos después:")
print(df_clean['date'].head(10).values)
print(f"\nTipo: {df_clean['date'].dtype}")
print(f"Nulos: {df_clean['date'].isnull().sum()}")
print("✅ 'date' normalizado")

Ejemplos antes:
['08-03-2024' '2023-06-13' '13/08/2024' '08-15-2024' '29/03/2024'
 '2024-03-13' '2023-10-27' '08-24-2023' '07-22-2023' '2023-04-25']

Ejemplos después:
[datetime.date(2024, 8, 3) datetime.date(2023, 6, 13)
 datetime.date(2024, 8, 13) datetime.date(2024, 8, 15)
 datetime.date(2024, 3, 29) datetime.date(2024, 3, 13)
 datetime.date(2023, 10, 27) datetime.date(2023, 8, 24)
 datetime.date(2023, 7, 22) datetime.date(2023, 4, 25)]

Tipo: object
Nulos: 0
✅ 'date' normalizado

### Paso 8: Convertir 'last_updated' a datetime

In [22]:
print(f"Tipo antes: {df_clean['last_updated'].dtype}")

df_clean['last_updated'] = pd.to_datetime(df_clean['last_updated'])

print(f"Tipo después: {df_clean['last_updated'].dtype}")
print("✅ 'last_updated' convertido")

Tipo antes: object
Tipo después: datetime64[ns]
✅ 'last_updated' convertido

### Paso 9: Verificación final

In [23]:
print("=== RESUMEN DE LA TRANSFORMACIÓN ===\n")

print(f"Filas: {len(df_clean)}")
print(f"Columnas: {len(df_clean.columns)}")

print(f"\n--- Tipos de datos ---")
print(df_clean.dtypes)

print(f"\n--- Valores nulos ---")
print(df_clean.isnull().sum())

print(f"\n--- Valores únicos en columnas categóricas ---")
for col in ['currency', 'sector', 'exchange', 'symbol', 'market_type', 'country']:
    print(f"{col}: {df_clean[col].unique()}")

=== RESUMEN DE LA TRANSFORMACIÓN ===

Filas: 10000
Columnas: 15

--- Tipos de datos ---
market_type             object
symbol                  object
name                    object
date                    object
open                   float64
close                  float64
high                   float64
low                    float64
volume                 float64
market_cap             float64
sector                  object
exchange                object
country                 object
currency                object
last_updated    datetime64[ns]
dtype: object

--- Valores nulos ---
market_type     0
symbol          0
name            0
date            0
open            0
close           0
high            0
low             0
volume          0
market_cap      0
sector          0
exchange        0
country         0
currency        0
last_updated    0
dtype: int64

--- Valores únicos en columnas categóricas ---
currency: ['USD']
sector: ['Finance' 'Retail' 'Crypto' 'Technology' 'AI' 'Automotive']
exchange: ['NASDAQ' 'COINBASE' 'BINANCE' 'NYSE' 'exchange_empty']
symbol: ['MSFT' 'GOOGL' 'BTC' 'SOL' 'TSLA' 'AMZN' 'AAPL' 'ADA' 'BNB' 'ETH']
market_type: ['stock' 'crypto']
country: ['US' 'Global']

In [25]:
print("=== COMPARACIÓN ANTES / DESPUÉS ===\n")

print("ANTES (df_raw):")
print(df_raw[['open', 'currency', 'sector', 'exchange', 'date']].head())

print("\nDESPUÉS (df_clean):")
print(df_clean[['open', 'currency', 'sector', 'exchange', 'date']].head())

=== COMPARACIÓN ANTES / DESPUÉS ===

ANTES (df_raw):
                 open currency      sector  exchange        date
0   47536.20817743171      usd     Finance    NASDAQ  08-03-2024
1   43310.14552728901      USD      Retail    NASDAQ  2023-06-13
2  10624.832142807025        $  blockchain  COINBASE  13/08/2024
3  14568.544718500116     USDT      Crypto   BINANCE  08-15-2024
4   39260.94631003675      USD  blockchain   BINANCE  29/03/2024

DESPUÉS (df_clean):
           open currency   sector  exchange        date
0  47536.208177      USD  Finance    NASDAQ  2024-08-03
1  43310.145527      USD   Retail    NASDAQ  2023-06-13
2  10624.832143      USD   Crypto  COINBASE  2024-08-13
3  14568.544719      USD   Crypto   BINANCE  2024-08-15
4  39260.946310      USD   Crypto   BINANCE  2024-03-29

### Paso 10: Crear columnas derivadas

In [26]:
# Cambio diario (absoluto)
df_clean['daily_change'] = df_clean['close'] - df_clean['open']

# Cambio diario (porcentaje)
df_clean['daily_change_pct'] = ((df_clean['close'] - df_clean['open']) / df_clean['open']) * 100

print("✅ Columnas derivadas creadas")
print(df_clean[['open', 'close', 'daily_change', 'daily_change_pct']].head(10))

✅ Columnas derivadas creadas
           open         close  daily_change  daily_change_pct
0  47536.208177  49741.830640   2205.622463          4.639879
1  43310.145527  44186.006702    875.861175          2.022300
2  10624.832143   9948.720880   -676.111263         -6.363501
3  14568.544719  14894.451498    325.906780          2.237058
4  39260.946310  36902.728007  -2358.218303         -6.006524
5   8534.500943   7792.087425   -742.413518         -8.698968
6   4892.630000   5072.905748    180.275748          3.684639
7  45466.926900  43273.420311  -2193.506589         -4.824400
8   9250.874232  10119.687898    868.813667          9.391693
9  46094.493009  42300.847111  -3793.645897         -8.230150

### Paso 11: Reducir decimales

In [27]:
cols_decimales = ['open', 'close', 'high', 'low', 'volume', 'market_cap', 'daily_change', 'daily_change_pct']

for col in cols_decimales:
    df_clean[col] = df_clean[col].round(2)

print("✅ Decimales reducidos a 2 dígitos")
print(df_clean[['open', 'close', 'daily_change', 'daily_change_pct']].head())

✅ Decimales reducidos a 2 dígitos
       open     close  daily_change  daily_change_pct
0  47536.21  49741.83       2205.62              4.64
1  43310.15  44186.01        875.86              2.02
2  10624.83   9948.72       -676.11             -6.36
3  14568.54  14894.45        325.91              2.24
4  39260.95  36902.73      -2358.22             -6.01

## LOAD: Guardar datos limpios

### Paso 12: Guardar CSV limpio

In [28]:
df_clean.to_csv("../data/market_data_clean.csv", index=False)

print("✅ CSV limpio guardado en: ../data/market_data_clean.csv")
print(f"Filas: {len(df_clean)}")
print(f"Columnas: {len(df_clean.columns)}")

✅ CSV limpio guardado en: ../data/market_data_clean.csv
Filas: 10000
Columnas: 17

### Paso 13: Crear tablas dimensionales

In [29]:
# dim_asset (symbol, name, market_type)
df_dim_asset = df_clean[['symbol', 'name', 'market_type']].drop_duplicates().reset_index(drop=True)
df_dim_asset['asset_id'] = df_dim_asset.index + 1
df_dim_asset = df_dim_asset[['asset_id', 'symbol', 'name', 'market_type']]
print(f"✅ dim_asset: {len(df_dim_asset)} registros")
print(df_dim_asset)

✅ dim_asset: 10 registros
   asset_id symbol       name market_type
0         1   MSFT   MSFT Inc       stock
1         2  GOOGL  GOOGL Inc       stock
2         3    BTC   BTC Coin      crypto
3         4    SOL   SOL Coin      crypto
4         5   TSLA   TSLA Inc       stock
5         6   AMZN   AMZN Inc       stock
6         7   AAPL   AAPL Inc       stock
7         8    ADA   ADA Coin      crypto
8         9    BNB   BNB Coin      crypto
9        10    ETH   ETH Coin      crypto

In [30]:
# dim_sector
df_dim_sector = pd.DataFrame({'sector_name': df_clean['sector'].unique()})
df_dim_sector['sector_id'] = df_dim_sector.index + 1
df_dim_sector = df_dim_sector[['sector_id', 'sector_name']]
print(f"✅ dim_sector: {len(df_dim_sector)} registros")
print(df_dim_sector)

✅ dim_sector: 6 registros
   sector_id sector_name
0          1     Finance
1          2      Retail
2          3      Crypto
3          4  Technology
4          5          AI
5          6  Automotive

In [31]:
# dim_exchange
df_dim_exchange = pd.DataFrame({'exchange_name': df_clean['exchange'].unique()})
df_dim_exchange['exchange_id'] = df_dim_exchange.index + 1
df_dim_exchange = df_dim_exchange[['exchange_id', 'exchange_name']]
print(f"✅ dim_exchange: {len(df_dim_exchange)} registros")
print(df_dim_exchange)

✅ dim_exchange: 5 registros
   exchange_id   exchange_name
0            1          NASDAQ
1            2        COINBASE
2            3         BINANCE
3            4            NYSE
4            5  exchange_empty

In [32]:
# dim_currency
df_dim_currency = pd.DataFrame({'currency_name': df_clean['currency'].unique()})
df_dim_currency['currency_id'] = df_dim_currency.index + 1
df_dim_currency = df_dim_currency[['currency_id', 'currency_name']]
print(f"✅ dim_currency: {len(df_dim_currency)} registros")
print(df_dim_currency)

✅ dim_currency: 1 registros
   currency_id currency_name
0            1           USD

In [33]:
# dim_country
df_dim_country = pd.DataFrame({'country_name': df_clean['country'].unique()})
df_dim_country['country_id'] = df_dim_country.index + 1
df_dim_country = df_dim_country[['country_id', 'country_name']]
print(f"✅ dim_country: {len(df_dim_country)} registros")
print(df_dim_country)

✅ dim_country: 2 registros
   country_id country_name
0           1           US
1           2       Global

In [34]:
# dim_date
df_dim_date = pd.DataFrame({'date': df_clean['date'].unique()})
df_dim_date['date_dt'] = pd.to_datetime(df_dim_date['date'])
df_dim_date['year'] = df_dim_date['date_dt'].dt.year
df_dim_date['month'] = df_dim_date['date_dt'].dt.month
df_dim_date['day'] = df_dim_date['date_dt'].dt.day
df_dim_date['weekday'] = df_dim_date['date_dt'].dt.day_name()
df_dim_date['date_id'] = df_dim_date.index + 1
df_dim_date = df_dim_date[['date_id', 'date', 'year', 'month', 'day', 'weekday']]
print(f"✅ dim_date: {len(df_dim_date)} registros")
print(df_dim_date.head(10))

✅ dim_date: 601 registros
   date_id        date  year  month  day    weekday
0        1  2024-08-03  2024      8    3   Saturday
1        2  2023-06-13  2023      6   13    Tuesday
2        3  2024-08-13  2024      8   13    Tuesday
3        4  2024-08-15  2024      8   15   Thursday
4        5  2024-03-29  2024      3   29     Friday
5        6  2024-03-13  2024      3   13  Wednesday
6        7  2023-10-27  2023     10   27     Friday
7        8  2023-08-24  2023      8   24   Thursday
8        9  2023-07-22  2023      7   22   Saturday
9       10  2023-04-25  2023      4   25    Tuesday

### Paso 14: Crear tabla de hechos (fact_market_data)

In [35]:
# Crear copia para la tabla de hechos
df_fact = df_clean.copy()

# Añadir FKs desde las dimensiones
df_fact = df_fact.merge(df_dim_asset[['asset_id', 'symbol']], on='symbol', how='left')
df_fact = df_fact.merge(df_dim_sector[['sector_id', 'sector_name']], left_on='sector', right_on='sector_name', how='left')
df_fact = df_fact.merge(df_dim_exchange[['exchange_id', 'exchange_name']], left_on='exchange', right_on='exchange_name', how='left')
df_fact = df_fact.merge(df_dim_currency[['currency_id', 'currency_name']], left_on='currency', right_on='currency_name', how='left')
df_fact = df_fact.merge(df_dim_country[['country_id', 'country_name']], left_on='country', right_on='country_name', how='left')
df_fact = df_fact.merge(df_dim_date[['date_id', 'date']], on='date', how='left')

# Seleccionar solo columnas necesarias
df_fact_market_data = df_fact[[
    'asset_id', 'date_id', 'sector_id', 'exchange_id', 'currency_id', 'country_id',
    'open', 'close', 'high', 'low', 'volume', 'market_cap',
    'daily_change', 'daily_change_pct', 'last_updated'
]].copy()

# Añadir ID de la tabla de hechos
df_fact_market_data.insert(0, 'fact_id', range(1, len(df_fact_market_data) + 1))

print(f"✅ fact_market_data: {len(df_fact_market_data)} registros")
print(f"Columnas: {list(df_fact_market_data.columns)}")
print(df_fact_market_data.head())

✅ fact_market_data: 10000 registros
Columnas: ['fact_id', 'asset_id', 'date_id', 'sector_id', 'exchange_id', 'currency_id', 'country_id', 'open', 'close', 'high', 'low', 'volume', 'market_cap', 'daily_change', 'daily_change_pct', 'last_updated']
   fact_id  asset_id  date_id  sector_id  exchange_id  currency_id  \
0        1         1        1          1            1            1
1        2         2        2          2            1            1
2        3         3        3          3            2            1
3        4         4        4          3            3            1
4        5         4        5          3            3            1

   country_id      open     close      high       low      volume  \
0           1  47536.21  49741.83  51230.75  45530.22  1560789.21
1           2  43310.15  44186.01  45750.35  41189.21  9699128.61
2           1  10624.83   9948.72  10722.26   9602.63  5248039.56
3           1  14568.54  14894.45  14998.34  14052.92  3664252.07
4           2  39260.95  36902.73  40270.41  36150.68   465457.68

     market_cap  daily_change  daily_change_pct        last_updated
0  1.129875e+12       2205.62              4.64 2024-08-03 23:00:00
1  1.836700e+11        875.86              2.02 2023-06-13 12:00:00
2  3.338148e+11       -676.11             -6.36 2024-08-13 02:00:00
3  1.756183e+11        325.91              2.24 2024-08-15 22:00:00
4  1.851476e+11      -2358.22             -6.01 2024-03-29 19:00:00

### Paso 15: Generar DDL y cargar en SQLite

In [36]:
import sqlite3
from sqlalchemy import create_engine

print("=== CARGA EN SQLITE: CREANDO DATAWAREHOUSE ===\n")

# Ruta de la base de datos SQLite
db_path = "../warehouse/warehouse_pandas.db"

# Crear conexión
engine = create_engine(f'sqlite:///{db_path}', echo=False)

# Guardar tablas dimensionales
print("💾 Guardando tablas dimensionales...")
df_dim_asset.to_sql('dim_asset', engine, if_exists='replace', index=False)
df_dim_sector.to_sql('dim_sector', engine, if_exists='replace', index=False)
df_dim_exchange.to_sql('dim_exchange', engine, if_exists='replace', index=False)
df_dim_currency.to_sql('dim_currency', engine, if_exists='replace', index=False)
df_dim_country.to_sql('dim_country', engine, if_exists='replace', index=False)
df_dim_date.to_sql('dim_date', engine, if_exists='replace', index=False)
print("✅ Tablas dimensionales guardadas")

# Guardar tabla de hechos
print("\n💾 Guardando tabla de hechos...")
df_fact_market_data.to_sql('fact_market_data', engine, if_exists='replace', index=False)
print("✅ Tabla de hechos guardada")

print(f"\n✅ Datawarehouse creado en: {db_path}")
print(f"   • 1 tabla de hechos: fact_market_data ({len(df_fact_market_data)} registros)")
print(f"   • 6 tablas dimensionales: dim_asset, dim_sector, dim_exchange, dim_currency, dim_country, dim_date")

=== CARGA EN SQLITE: CREANDO DATAWAREHOUSE ===

💾 Guardando tablas dimensionales...
✅ Tablas dimensionales guardadas

💾 Guardando tabla de hechos...
✅ Tabla de hechos guardada

✅ Datawarehouse creado en: ../warehouse/warehouse_pandas.db
   • 1 tabla de hechos: fact_market_data (10000 registros)
   • 6 tablas dimensionales: dim_asset, dim_sector, dim_exchange, dim_currency, dim_country, dim_date

In [37]:
# Generar DDL desde los DataFrames
def generate_ddl(df, table_name, primary_key=None, foreign_keys=None):
    """Genera DDL basado en un DataFrame"""
    type_map = {
        'int64': 'INTEGER',
        'Int64': 'INTEGER',
        'float64': 'REAL',
        'object': 'TEXT',
        'datetime64[ns]': 'TEXT',
        'bool': 'INTEGER'
    }
    
    columns = []
    for col in df.columns:
        dtype = str(df[col].dtype)
        sql_type = type_map.get(dtype, 'TEXT')
        
        if col == primary_key:
            columns.append(f"    {col} {sql_type} PRIMARY KEY")
        else:
            columns.append(f"    {col} {sql_type}")
    
    ddl = f"CREATE TABLE IF NOT EXISTS {table_name} (\n"
    ddl += ",\n".join(columns)
    
    if foreign_keys:
        for fk_col, ref_table, ref_col in foreign_keys:
            ddl += f",\n    FOREIGN KEY ({fk_col}) REFERENCES {ref_table}({ref_col})"
    
    ddl += "\n);\n"
    return ddl

# Generar DDL completo
ddl_content = """-- ============================================
-- DDL para Datawarehouse - Market Data
-- Generado desde ETL con Pandas
-- ============================================

-- TABLAS DIMENSIONALES

"""

ddl_content += generate_ddl(df_dim_asset, 'dim_asset', 'asset_id')
ddl_content += "\n" + generate_ddl(df_dim_sector, 'dim_sector', 'sector_id')
ddl_content += "\n" + generate_ddl(df_dim_exchange, 'dim_exchange', 'exchange_id')
ddl_content += "\n" + generate_ddl(df_dim_currency, 'dim_currency', 'currency_id')
ddl_content += "\n" + generate_ddl(df_dim_country, 'dim_country', 'country_id')
ddl_content += "\n" + generate_ddl(df_dim_date, 'dim_date', 'date_id')

ddl_content += "\n-- TABLA DE HECHOS\n\n"
ddl_content += generate_ddl(df_fact_market_data, 'fact_market_data', 'fact_id', [
    ('asset_id', 'dim_asset', 'asset_id'),
    ('date_id', 'dim_date', 'date_id'),
    ('sector_id', 'dim_sector', 'sector_id'),
    ('exchange_id', 'dim_exchange', 'exchange_id'),
    ('currency_id', 'dim_currency', 'currency_id'),
    ('country_id', 'dim_country', 'country_id')
])

# Guardar DDL
with open('../warehouse/modelo_datawarehouse_pandas.sql', 'w') as f:
    f.write(ddl_content)

print("✅ DDL guardado en: warehouse/modelo_datawarehouse_pandas.sql")
print("\n=== CONTENIDO DDL ===\n")
print(ddl_content)

✅ DDL guardado en: warehouse/modelo_datawarehouse_pandas.sql

=== CONTENIDO DDL ===

-- ============================================
-- DDL para Datawarehouse - Market Data
-- Generado desde ETL con Pandas
-- ============================================

-- TABLAS DIMENSIONALES

CREATE TABLE IF NOT EXISTS dim_asset (
    asset_id INTEGER PRIMARY KEY,
    symbol TEXT,
    name TEXT,
    market_type TEXT
);

CREATE TABLE IF NOT EXISTS dim_sector (
    sector_id INTEGER PRIMARY KEY,
    sector_name TEXT
);

CREATE TABLE IF NOT EXISTS dim_exchange (
    exchange_id INTEGER PRIMARY KEY,
    exchange_name TEXT
);

CREATE TABLE IF NOT EXISTS dim_currency (
    currency_id INTEGER PRIMARY KEY,
    currency_name TEXT
);

CREATE TABLE IF NOT EXISTS dim_country (
    country_id INTEGER PRIMARY KEY,
    country_name TEXT
);

CREATE TABLE IF NOT EXISTS dim_date (
    date_id INTEGER PRIMARY KEY,
    date TEXT,
    year TEXT,
    month TEXT,
    day TEXT,
    weekday TEXT
);

-- TABLA DE HECHOS

CREATE TABLE IF NOT EXISTS fact_market_data (
    fact_id INTEGER PRIMARY KEY,
    asset_id INTEGER,
    date_id INTEGER,
    sector_id INTEGER,
    exchange_id INTEGER,
    currency_id INTEGER,
    country_id INTEGER,
    open REAL,
    close REAL,
    high REAL,
    low REAL,
    volume REAL,
    market_cap REAL,
    daily_change REAL,
    daily_change_pct REAL,
    last_updated TEXT,
    FOREIGN KEY (asset_id) REFERENCES dim_asset(asset_id),
    FOREIGN KEY (date_id) REFERENCES dim_date(date_id),
    FOREIGN KEY (sector_id) REFERENCES dim_sector(sector_id),
    FOREIGN KEY (exchange_id) REFERENCES dim_exchange(exchange_id),
    FOREIGN KEY (currency_id) REFERENCES dim_currency(currency_id),
    FOREIGN KEY (country_id) REFERENCES dim_country(country_id)
);